node_modules
.pnpm-store
**/target
dist
build
generated
artifacts
coverage
release
.turbo
.cache
.next
.parcel-cache
.pytest_cache
.ruff_cache
.vite
.expo
__pycache__
Pods
DerivedData
out
*.log
*.out
*.tsbuildinfo
*.AppImage
*.blockmap
*.dmg
*.iso
pnpm-lock.yaml
third_party
