insmod part_msdos
insmod part_gpt
insmod iso9660
insmod ext2
insmod fat
insmod search
insmod search_fs_file
insmod search_fs_uuid
insmod search_label
insmod all_video

set default=0
set timeout=3

if [ "$grub_platform" = "pc" ]; then
  set gfxpayload=text
else
  unset gfxpayload
fi

if serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1; then
  terminal_input console serial
  terminal_output console serial
fi


search --no-floppy --set=root --file /boot/vmlinuz

menuentry "Start SevynOS Live (GPU accelerated)" {
  search --no-floppy --set=root --file /boot/vmlinuz
  linux /boot/vmlinuz boot=live components live-media-path=/live init=/init console=ttyS0,115200 console=tty0 panic=-1 loglevel=4 sysrq_always_enabled=0 modprobe.blacklist=nouveau nouveau.modeset=0 sevyn.live=1
  initrd /boot/initramfs.cpio.gz
}

menuentry "Install SevynOS" {
  search --no-floppy --set=root --file /boot/vmlinuz
  linux /boot/vmlinuz boot=live components live-media-path=/live init=/init console=ttyS0,115200 console=tty0 panic=-1 loglevel=4 sysrq_always_enabled=0 sevyn.live=1 sevyn.installer=1
  initrd /boot/initramfs.cpio.gz
}

menuentry "Start SevynOS Live (discrete GPU / nouveau)" {
  search --no-floppy --set=root --file /boot/vmlinuz
  linux /boot/vmlinuz boot=live components live-media-path=/live init=/init console=ttyS0,115200 console=tty0 panic=-1 loglevel=4 sysrq_always_enabled=0 sevyn.live=1
  initrd /boot/initramfs.cpio.gz
}

menuentry "Start SevynOS Live (safe graphics / software)" {
  search --no-floppy --set=root --file /boot/vmlinuz
  linux /boot/vmlinuz boot=live components live-media-path=/live init=/init console=ttyS0,115200 console=tty0 panic=-1 loglevel=4 sysrq_always_enabled=0 nomodeset sevyn.gpu=0 modprobe.blacklist=nouveau nouveau.modeset=0 sevyn.live=1
  initrd /boot/initramfs.cpio.gz
}

menuentry "Start SevynOS Live (diagnostic logging)" {
  search --no-floppy --set=root --file /boot/vmlinuz
  linux /boot/vmlinuz boot=live components live-media-path=/live init=/init console=ttyS0,115200 console=tty0 panic=-1 loglevel=8 ignore_loglevel sysrq_always_enabled=0 modprobe.blacklist=nouveau nouveau.modeset=0 sevyn.live=1
  initrd /boot/initramfs.cpio.gz
}
